<div class="container">
    <!-- row -->
    <div class="row">
        <div class="align-content-md-center">
            <!-- Billing Details -->
            <div class="billing-details text-center">
                <div class="section-title">
                    <h3 class="title">Register</h3>
                </div>
                <form class="billing-details text-center" method="post">
                    <div class="form-group">
                        <input class="input" type="text" name="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="lastName" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input class="input" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="address" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="city" placeholder="City">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="country" placeholder="Country">
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="phoneNumber" placeholder="Telephone">
                    </div>
                    <div class="form-group">
                        <input class="input" type="password" name="password" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input class="input" type="password" name="confirmPassword" placeholder="Confirm Password" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="primary-btn order-submit" value="Register">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>